set(EXTERNAL_DEPENDENCIES)

{{- range .Dependencies}}
# Library
set({{.Name}}_PATH "{{.Path}}{{.RelativePath}}")
set({{.Name}}_RECURSE {{if .Recurse}}True{{else}}False{{end}})
list(APPEND EXTERNAL_DEPENDENCIES "{{.Name}}")

# EndLibrary
{{- end}}

