set(EXTERNAL_DEPENDENCIES)

{{- range .Dependencies}}
# Library
set({{.Name}}_PATH "{{.Path}}{{.RelativePath}}")
list(APPEND EXTERNAL_DEPENDENCIES "{{.Name}}")
list(APPEND CMAKE_MODULE_PATH "{{.Path}}{{.RelativePath}}")

# EndLibrary
{{- end}}

